<app-nav></app-nav>

<div id="skills">
    <div class="overlay"></div>

    <div class="content">
        <h2>My Skills</h2>

        <div class="skills-grid">
            <img src="https://cdn-icons-png.flaticon.com/128/5968/5968381.png" alt="TypeScript" class="img">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgRjMzKvBQu0YsiW7bolzlvfIpaNon9KqnZlehRDWsX-_IadPKn8Zi9BwbHeWBdoWf3SU&usqp=CAU" alt="Angular" class="img">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/1024px-HTML5_logo_and_wordmark.svg.png" alt="HTML" class="img">
            <img src="https://logonoid.com/images/css3-logo.png" alt="CSS" class="img">
            <img src="https://i.pinimg.com/originals/28/b0/d1/28b0d189571e22609f0e9378da7b09a4.png" alt="JavaScript" class="img">
        </div>

        <div class="skills-grid">
            <img src="https://img.icons8.com/?size=96&id=UFXRpPFebwa2&format=png" alt="SQL" class="img">
            <img src="https://img.icons8.com/?size=100&id=38389&format=png" alt="Git" class="img">
            <img src="https://img.icons8.com/?size=100&id=12599&format=png" alt="GitHub" class="img">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsvkVsV1tdH-Ax_UN4WUJbThc9xwXmu7bxhA&s" alt="Node.js" class="img">
            <img src="https://img.icons8.com/?size=160&id=EPbEfEa7o8CB&format=png" alt="Postman" class="img">
        </div>
    </div>
</div>


    


<app-footer></app-footer>
