<app-nav></app-nav>

<!-- <div id="skills" class="bg-gray-100 py-16 relative flex flex-col items-center justify-center"
    style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAdM_YH4vRZDtjbL0zTiBdyRQqSs2pe6oxag&s'); 
           background-size: cover; background-position: center; min-height: 100vh; position: relative;">

    
    <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(255, 255, 255, 0.6);"></div>

    
    <div class="relative z-10 text-center w-full max-w-5xl mx-auto">

        
        <h2 class="text-5xl font-extrabold bg-gradient-to-b from-gray-800 to-gray-500 italic bg-clip-text drop-shadow-lg mb-30">
            My Skills
        </h2>
        

        
        <div class="mt-12 grid grid-cols-5 gap-12 justify-center items-center mb-30">
            <img src="https://cdn-icons-png.flaticon.com/128/5968/5968381.png" alt="TypeScript" width="80" height="80" class="img">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgRjMzKvBQu0YsiW7bolzlvfIpaNon9KqnZlehRDWsX-_IadPKn8Zi9BwbHeWBdoWf3SU&usqp=CAU" alt="Angular" width="90" height="70" class="img">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/1024px-HTML5_logo_and_wordmark.svg.png" alt="HTML" width="80" height="80" class="img">
            <img src="https://logonoid.com/images/css3-logo.png" alt="CSS" width="70" height="70" class="img">
            <img src="https://i.pinimg.com/originals/28/b0/d1/28b0d189571e22609f0e9378da7b09a4.png" alt="JavaScript" width="70" height="70" class="img">
        </div>

        <div class="mt-12 grid grid-cols-5 gap-12 justify-center items-center">
            <img src="https://img.icons8.com/?size=96&id=UFXRpPFebwa2&format=png" alt="SQL" width="90" height="90" class="img">
            <img src="https://img.icons8.com/?size=100&id=38389&format=png" alt="Git" width="80" height="80" class="img">
            <img src="https://img.icons8.com/?size=100&id=12599&format=png" alt="GitHub" width="80" height="80" class="img">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsvkVsV1tdH-Ax_UN4WUJbThc9xwXmu7bxhA&s" alt="Node.js" width="80" height="80" class="img">
            <img src="https://img.icons8.com/?size=160&id=EPbEfEa7o8CB&format=png" alt="Postman" width="80" height="80" class="img">
        </div>
        

    </div>
</div> -->


<div id="skills">
    <div class="overlay"></div>

    <div class="content">
        <h2>My Skills</h2>

        <div class="skills-grid">
            <img src="https://cdn-icons-png.flaticon.com/128/5968/5968381.png" alt="TypeScript" class="img">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgRjMzKvBQu0YsiW7bolzlvfIpaNon9KqnZlehRDWsX-_IadPKn8Zi9BwbHeWBdoWf3SU&usqp=CAU" alt="Angular" class="img">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/1024px-HTML5_logo_and_wordmark.svg.png" alt="HTML" class="img">
            <img src="https://logonoid.com/images/css3-logo.png" alt="CSS" class="img">
            <img src="https://i.pinimg.com/originals/28/b0/d1/28b0d189571e22609f0e9378da7b09a4.png" alt="JavaScript" class="img">
        </div>

        <div class="skills-grid">
            <img src="https://img.icons8.com/?size=96&id=UFXRpPFebwa2&format=png" alt="SQL" class="img">
            <img src="https://img.icons8.com/?size=100&id=38389&format=png" alt="Git" class="img">
            <img src="https://img.icons8.com/?size=100&id=12599&format=png" alt="GitHub" class="img">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsvkVsV1tdH-Ax_UN4WUJbThc9xwXmu7bxhA&s" alt="Node.js" class="img">
            <img src="https://img.icons8.com/?size=160&id=EPbEfEa7o8CB&format=png" alt="Postman" class="img">
        </div>
    </div>
</div>


    


<app-footer></app-footer>
