<app-nav></app-nav>
<div
  class="w-full min-h-screen fixed"
  style="
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRX9fUlWTCodIGNOZw0v9AMXHdDyFuUOGc52HJly9Q3EOtdlTDWLz3lfL_etLUlXeqxZjQ&usqp=CAU');
    background-size: cover;
    background-position: center;
  "
>
  <div
    id="projects"
    class="flex flex-col mb-16 items-center text-center px-4 mt-10 relative"
  >
    <div class="absolute inset-0 bg-white opacity-50"></div>

    <div
      class="relative z-10 text-center flex flex-col justify-center items-center h-full"
    >
      <h2 class="text-5xl font-extrabold text-gray-900 italic  mt-12">My Projects</h2>

      <p class="mt-4 text-lg text-gray-700 max-w-3xl mx-auto px-4">
        Explore my projects that showcase my skills in front-end and back-end
        development, blending creativity with functionality.
      </p>
    </div>

    <div
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 w-full items-center justify-center mt-8"
    >
      <div
        class="bg-white p-6 rounded-lg shadow-lg hover:shadow-2xl transform hover:scale-105 transition-all duration-300"
      >
        <img
          src="https://i.pinimg.com/736x/9d/15/d3/9d15d38b274b4980ed2c711a04245141.jpg"
          alt="Mudau Travels"
          class="w-full h-40 object-cover rounded-lg mb-4 hover:opacity-80 transition-all duration-300"
        />
        <h3 class="text-xl font-semibold text-black mb-2">Mudau Travels</h3>
        <p class="text-black">
          A travel booking app that helps users plan and book their trips
          effortlessly.
        </p>
        <a
          href="https://github.com/The-DigitalAcademy/mudau_travel.git"
          target="_blank"
          class="text-blue-500 hover:underline"
          >View Project</a
        >
      </div>

      <div
        class="bg-white p-6 rounded-lg shadow-lg hover:shadow-2xl transform hover:scale-105 transition-all duration-300"
      >
        <img
          src="https://i.pinimg.com/736x/33/b4/cd/33b4cdcd66e15dbd505dd216b5001d40.jpg"
          alt="Library App"
          class="w-full h-40 object-cover rounded-lg mb-4 hover:opacity-80 transition-all duration-300"
        />
        <h3 class="text-xl font-semibold text-black mb-2">Library App</h3>
        <p class="text-black mb-4">
          An application to manage books in a library, including checkouts and
          returns.
        </p>
        <a
          href="https://github.com/The-DigitalAcademy/Epic_reads.git"
          target="_blank"
          class="text-blue-500 hover:underline"
          >View Project</a
        >
      </div>

      <div
        class="bg-white p-6 rounded-lg shadow-lg hover:shadow-2xl transform hover:scale-105 transition-all duration-300"
      >
        <img
          src="https://images.unsplash.com/photo-1628258334105-2a0b3d6efee1?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE5Mnx8fGVufDB8fHx8fA%3D%3D"
          alt="Personal Portfolio Website"
          class="w-full h-40 object-cover rounded-lg mb-4 hover:opacity-80 transition-all duration-300"
        />
        <h3 class="text-xl font-semibold text-black mb-2">
          Personal Portfolio Website
        </h3>
        <p class="text-black mb-4">
          My personal portfolio showcasing my work and skills as a developer.
        </p>
        <a
          href="https://example.com"
          target="_blank"
          class="text-blue-500 hover:underline"
          >View Project</a
        >
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
