<app-nav></app-nav>

<div id="home">
  <div class="container">
    <div class="image-wrapper">
      <img src="IMG_2679-Enhanced-NR.jpg" class="profile-img" />
    </div>

    <div class="text-content">
      <h1>Hi, This is Nthabiseng Fakude's Portfolio</h1>
      <p>Welcome to my digital space where creativity meets functionality.</p>
      <p>
        I'm passionate about building innovative, user-friendly applications.
      </p>
      <p>
        Explore my projects and discover how I can bring your ideas to life.
      </p>
    </div>
  </div>
</div>
